.App {
  background-color: green;
  color: white;
  display: flex;

  .present {
    margin: 2rem;
    padding: 1rem;
    border: red solid 3px;

    img {
      height: 8rem;
    }

    .rating {
      margin: 2rem;
      padding: 1rem;
      border: blue solid 3px;
    }
  }
}